.interf-section{
    position: absolute;
    margin-left: 18.5em;
    padding: 0;
}
.interface{
    width: 50%;
    margin-left: 3px;
    position: relative;
    
}
.interface .navigation {
    position: fixed;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 29px 30px;
    border-bottom: 3px solid #594ef7;
    margin-left: 9px;
}
.interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 19px;
    border-radius: 50px;
    border: 2px solid #bbbdbc;
    border-bottom: 2px solid #bbbdbc;
    background-color: #eeeeee;
    
}
.interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 15px;
    color: #444a53;
    font-weight: 500; 
    background-color: #eeeeee;
}
.interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.interface .navigation .profile img{
  width: 35px;
  height: 35px;
  position: fixed;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -29px;
}
.interface .navigation .profile .svg{
    color: #444a53;
    position: fixed;
    font-weight: 700;
    margin-left: -60px;
    height: 26px; 
    width: 26px;
}
.i-name{
    color: #444a53;
    font-size: 30px;
    position: fixed;
    font-weight: 700;
    margin-top: 5em;
    left: 13.9em;
}
.n1{
    color: #444a53;
    font-size: 0.70em;
    position: relative;
}
.n1 img{
    height: 18px;
    position: absolute;
    left: 10px;
    top: 0.8em;
    color: #444a53;
}
.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.values .val-box1{
    background-color: white;
    width: 233px;
    padding: 16px 29px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 5.2em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box2{
    background-color: white;
    width: 233px;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 22.5em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box3{
    position:relative;
    background-color: white;
    width: 233px;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 39.9em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box4{
    position:relative;
    background-color: white;
    width: 233px;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 57em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box1 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val-box2 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val-box3 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

.values .val-box4 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val-box1:nth-child(1) i{
 background-color: #7874EC;
}
.values .val-box2:nth-child(2) i{
    background-color: #5C8AF0;
}
.values .val-box3:nth-child(3) i{
    background-color: #E45093;
}
.values .val-box4:nth-child(4) i{
    background-color: #74DAEC;
}
h3{
    font-size: 14px;
    font-weight: 600;
}  
span{
    font-size: 15px;
    color: #828997;
}
.board{
    width: 70em;
    margin: 30px;
    overflow: auto;
    background-color: white;
    border-radius: 19px;
}
.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
h5{
    font-weight: 600;
    font-size: 14px;
}
p{
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}
.board .people{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     text-align: start;
     background-color: white;
}
.board .people-des{
    background-color: white;
}
.board table{
    border-collapse: collapse;
    width: 70%;
    position: fixed;
    margin-left: 5.2em;
    margin-top: 20em;
}
.board .active{
    background-color: white;
    
}
.board .edit{
    background-color: white;
}
.board .role{
    background-color: white;
}
thead tr td{
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    font-weight: 40px;
    background-color: #f5faf8;
    text-align: start;
    padding: 15px;
}
tbody tr td {
    padding: 10px 15px;
}
.active p{
   background-color: #d7fada;
   padding: 2px 10px;
   display: inline-block;
   border-radius: 40px;
   color: #2b2b2b;
}
.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}